<h1 style="font-family: Book Antiqua, serif;">Pending Interests</h1>
<br/><br/>


<table class="table table-striped table hover">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>User</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% PendingInterest.all.each do |interest| %>
			<tr>
				<td><%= interest.id %></td>
				<td><%= interest.name %></td>
				<td><%= User.find(interest.user_id).first_name %> <%= User.find(interest.user_id).last_name %> (id: <%= interest.user_id %>)</td>
				<td><%= link_to "", interest, class: "glyphicon glyphicon-ok", method: :create, :style => 'color:green; font-size:13px; position:relative; left:15px' %></td>
				<td><%= link_to "", interest, class: "glyphicon glyphicon-trash", method: :delete, data: { confirm: 'Ya sure?' }, :style => 'color:red; font-size:13px; position:relative; left:15px' %></td>
			</tr>
		<% end %>
	</tbody>
</table>