<h1>The DataBase</h1>
<br/>
<%= link_to 'Users', '/users', class:"btn btn-primary" %>
<%= link_to 'User Interests', '/user_interests', class:"btn btn-primary" %>
<%= link_to 'Interests', '/interests', class:"btn btn-primary" %>

<br/><br/>

<!-- users -->
Users
<br/>
<table class="table table-striped table hover">
	<thead>
		<tr>
			<th>Id</th>
			<th>Avatar</th>
			<th>FirstName</th>
			<th>LastName</th>
			<th>PhoneNumber</th>
			<th>Auth token</th>
		</tr>
	</thead>
	<tbody>
		<% User.all.each do |user| %>
			<tr>
				<td><%= user.id %></td>
				<td><%= image_tag user.avatar.url(:thumb) %></td>
				<td><%= user.first_name %></td>
				<td><%= user.last_name %></td>
				<td><%= user.phone_number %></td>
				<% apikey = ApiKey.find_by_user_id(user.id) %>
				<% if apikey %>
					<td><%= apikey.access_token %></td>
				<% else %>
					<td> - </td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>

<br/><br/>

<!-- interests -->
Interests
<br/>
<table class="table table-striped table hover">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Category Id</th>
		</tr>
	</thead>
	<tbody>
		<% Interest.all.each do |interest| %>
			<tr>
				<td><%= interest.id %></td>
				<td><%= interest.name %></td>
				<td>
					<% if interest.category_id %>
						<%= Interest.find(interest.category_id).name %> (<%= interest.category_id %>)
					<% else %>
						-
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<br/><br/>

<!-- user_interests -->
User Interests
<br/>
<table class="table table-striped table hover">
	<thead>
		<tr>
			<th>Id</th>
			<th>User</th>
			<th>Interest</th>
		</tr>
	</thead>
	<tbody>
		<% UserInterest.all.each do |ui| %>
			<tr>
				<td><%= ui.id %></td>
				<td><%= User.find(ui.user_id).first_name %> (<%= ui.user_id %>)</td>
				<td><%= Interest.find(ui.interest_id).name %> (<%= ui.interest_id %>)</td>
			</tr>
		<% end %>
	</tbody>
</table>
